@import "./../scss/variable.scss";
@import "./../scss/common.scss";

nav {
  background-color: $nav-background-color;
  width: $nav-width;
  margin: $nav-margin;
  color: $nav-font-color;
  text-align: $text-align;
  a {
    color: $nav-font-color;
    font-weight: $nav-a-font-weight;
    margin-left: $nav-a-margin-left;
    font-size: $nav-a-font-size;
  }
}
