<h2>{{user.name}} 's Todolist</h2>
<div id="myDIV" class="header">
  <label>Title:
    <input  [(ngModel)]="newList.title" type="text" id="titleInput" placeholder="Title...">
  </label>
  <label>Author Name:
    <input [(ngModel)]="newList.author" type="text" id="authorInput" placeholder="Author Name...">
  </label>
  <button (click)="addNewList()" class="addBtn" id="addListBtn">Add TodoList</button>
</div>
<div *ngFor="let list of user.list">
  <div>{{list.title}}</div>
  <div>{{list.author}}</div>
  <div>{{list.date}}</div>
  <label>
    <input [(ngModel)]="list.tempNewTodo" type="text"></label><button (click)="addNewItem(list)">Add</button>
  <ul>
    <li *ngFor="let item of list.todo">
      <span>{{item}}</span><button (click)="delete(list, item)"> X </button>
    </li>
  </ul>
</div>
